[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==37.0.2"
flask = "==2.1.1"
flask-httpauth = "==4.5.0"
flask-login = "==0.6.0"
flask-sqlalchemy = "==2.5.1"
python-dotenv = "==0.20.0"
werkzeug = "==2.1.2"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
test = "pytest"
