@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;600;800&display=swap');

:root {
  --product-card-height: 20vh;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main{
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.left-nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 5vw;
}

.right-display{
    padding-left: 5vw;
    padding-right: 0px !important;
}

.top-bar{
    box-shadow: 0 4px 2px -2px rgb(231, 231, 231);
    border-bottom: 2.5px solid rgb(0, 34, 255);
    min-height: 70px;
}

.search-bar-top{
    text-align: center;
    width: 80%;
}

.search-bar{
    border: none;
    width: 100%;
}

.search-bar:focus{
    outline: none !important;
}

.special-padding{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.border-left-blue{
  border-left: 4px solid #0080ff!important;
}

.border-left-green{
  border-left: 4px solid rgb(25,135,84) !important;
}

.border-left-yellow{
  border-left: 4px solid rgb(200, 150, 0) !important;
}



.weather-card {
  height: 45vh;
  width: 12.5vw;
  background: #fff;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 10px;
}
.weather-card .top {
  position: relative;
  height: 20vh;
  width: 100%;
  overflow: hidden;
  background: url("https://s-media-cache-ak0.pinimg.com/564x/cf/1e/c4/cf1ec4b0c96e59657a46867a91bb0d1e.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.weather-card .top:after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.weather-card .bottom {
  padding: 0 30px;
  background: #fff;
  height: 25vh;
  width: 100%;
}
.weather-card .bottom .wrapper .forecast {
  overflow: hidden;
  margin: 0;
  font-size: 0;
  padding: 0;
  padding-top: 20px;
  max-height: 155px;
  text-align: center;
}
.weather-card .bottom .wrapper .forecast a {
  text-decoration: none;
  color: #000;
}

.weather-card .bottom .wrapper .forecast li {
  display: block;
  font-family: 'Nunito';
  font-size: 1.25rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 1em;
  margin-bottom: 10px;
}

.ctext-bold{
  font-family: 'Nunito';
  font-size: 1.25rem;
  font-weight: 400;
}

.ctext-light{
  font-family: 'Nunito';
  font-size: 0.80rem;
  font-weight: 400;
  text-align: left;
}

.card-structure{
  height: 100%;
  padding-top: 10%;
  padding-bottom: 2.5%;
  padding-left: 0%;
  padding-right: 0%;
  width: 100%;
}

.card-button-st{
  width: 70%; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 10%;
}

.card-spacer{
  margin-right: 0.5vw;
  margin-bottom: 5vh;
}